*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background-color: #FFFFFF;
}
nav
{
    width: 1600px;;
    margin:0 auto ;
    display: flex;
    justify-content: space-between;
   
}
.logo
{
    width:139px;
    margin: 16px 120px;
}
nav .menu
{
    display: flex;
    list-style-type:none ;
    gap:32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    gap: 32px;
    color: #000000;
    text-decoration:none ;
    margin: 34px;

}
.btn
{
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-size:16px ;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    list-style-type: none;
    align-items: center;
    margin-right: 120px;
    margin-top: 24px;
    cursor: pointer;


}
#banner
{
    border:1px solid red;
  padding: 70px 120px 120px 134px;
  text-align: center;
  background-image: url('../assets/hero-bg.png');
  background-size: cover;

}
 #banner .banner-content .F
 {
    font-size: 72px;
    font-style:bold;
    font-weight: 700;
    line-height: 84px ;
    text-align: center;
   
    color: #FFFFFF;
  

 }
 #banner .banner-content .S
 {
    font-size: 72px;
    font-style:bold;
    font-weight: 700;
    line-height: 84px ;
    color: #30B868;
    text-align: center;

 }
 #banner .banner-content p{
    font-size: 18px;
    font-style: 400;
    
    line-height:24px;
    color: #FFFFFF;
    text-align: center;

 }
  #banner .banner-content button
  {
    color:#30B868;
    padding: 8px 12px 8px 12px;
    gap: 6px;
    font-size: 16px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;

  }

 #banner .b2
 {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    padding: 16px 16px;
    gap:16px;
    cursor: pointer;

 }
 #banner .b3
 {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    padding: 16px 16px;
    cursor: pointer;

 }
.B{
   margin-top: 32px;
 }
 