* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF;
}

nav {
    width: 1600px;
    ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 139px;
    margin: 16px 120px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    gap: 32px;
    color: #000000;
    text-decoration: none;
    margin: 34px;

}

.btn {
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    list-style-type: none;
    align-items: center;
    margin-right: 120px;
    margin-top: 24px;
    cursor: pointer;


}

#banner {

    padding: 70px 120px 120px 134px;
    text-align: center;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;

}

#banner .banner-content .F {
    font-size: 72px;
    font-style: bold;
    font-weight: 700;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;


}

#banner .banner-content .S {
    font-size: 72px;
    font-style: bold;
    font-weight: 700;
    line-height: 84px;
    color: #30B868;
    text-align: center;

}

#banner .banner-content p {
    font-size: 18px;
    font-style: 400;

    line-height: 24px;
    color: #FFFFFF;
    text-align: center;

}

#banner .banner-content button {
    color: #30B868;
    padding: 8px 12px 8px 12px;
    gap: 6px;
    font-size: 16px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;

}

#banner .b2 {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    padding: 16px 16px;
    gap: 16px;
    cursor: pointer;

}

#banner .b3 {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    padding: 16px 16px;
    cursor: pointer;

}

.B {
    margin-top: 32px;
}
.section-heading
{
    
    text-align: center;
    margin: 0 auto;
    padding-top:50px;
}
.section-heading h2
{
    font-size: 48px;
    line-height:58px ;
    color: #001931;
    text-align: center;
    font-weight: 700;

}
.section-heading p
{
   font-size: 16px;
   line-height: 20px;
   color: #627382;
   padding-top: 16px;
}

#skills
{
    width: 1600px;
   
}
.skills-container 
{
    max-width: 1360px;
    margin:0 auto;
}
.skill-box
{
    display: flex;
    gap:24px;
    padding-top: 44px;
  
  

    

}
.skill-box .skill-card
{
    padding: 24px;
    max-width: 322px;
    box-shadow: 0  0 8px  0 #00000041;
    
    

}
.skill-card img{
   max-width: 60px;
    margin-bottom:16px ;
    background-color:#F95555;
    margin-top: 69;
    margin-left: 131px;
    margin-right: 131px;
    margin-bottom: 16px;
   
    
    
}
.skill-card h3{
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    
}
.skill-card p
{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
    color: #627382;
}
#second-banner
{
    padding: 120px 120px 120px 120px;
    display: flex;
    gap: 60px;
}
.S-banner-content
{
    max-width: 700px;
}

   #second-banner .S-banner-content h6
   {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #469165;
   }
 #second-banner .S-banner-content h3
 {
   font-size: 48px;
   line-height: 58px;
   text-align: left;
   font-style: bold;
   font-weight: 700;
   width: 700px;

 }
  #second-banner .S-banner-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
  }
 nav .S-menu li
{
    
    font-size: 16px;
    margin-top: 40px;
    color: #001931;
   
    
}
#last-body
{
    text-align: center;
      padding: 2px 120px 120px 120px ;  
   
}
 #last-body .lb
 {
  padding: 40px 80px;  
  background-color: #F7F6F2;
}
  
 
#last-body .lb h1
{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}
#last-body .lb p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    text-align: center;
}
.footer-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:120px 120px 30px 120px;
    background-color: #001931;
    
}
.social h6
{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;

}
  .f-img
  {
    width: 350px;
  } 
  .foot
  {
    text-align: center;
 background-color:#001931 ;
 color: #FFFFFF;
 font-size: 16px;

  }






 